.principal {
    height: 95%;
    background-color: var(--background-2);
    overflow-y: auto;
    padding: 40px;
    width: 70%;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    border: solid 4px var(--border);
    border-radius: 7px;
    transition: all 0.2s ease-in-out;
}   .principal:hover {
        border-color: var(--border-hover);
        box-shadow: var(--color) 0 0 10px 0;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    border: solid var(--border);
    border-radius: 7px;
    height: 20em;
    width: 15em;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.card-container.blur-active .card:not(.card-hover) {
    filter: blur(2px);
    opacity: 0.5;
}

.card-hover {
    filter: blur(0);
    transform: translateY(-.5em);
    border-color: var(--border-hover);
}

.card i {
    font-size: 4em;
}

@media screen and (max-width: 768px) {
    .loading-bar {
        height: 50px;
        width: 110%;
    } .loading-bar:hover {
        width: 110%;
    }

    .principal {
        width: 95%;
    }
    .cards-container {
        width: 100%;
    } .cards {
        width: 100%;
    }
}