.principal {
    height: 95%;
    background-color: #0f0f0f;
    overflow-y: auto;
    padding: 40px;
    width: 70%;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    border: solid 4px #3a3a3a;
    border-radius: 7px;
    transition: all 0.2s ease-in-out;
}   .principal:hover {
        border-color: #ffa6e6;
        box-shadow: #ffa6e6 0 0 10px 0;
}

.experience-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    width: 90%;
}

.loading-bar {
    border-radius: 7px;
    width: 80%;
    height: 20px;
    background-color: #3a3a3a;
    transition: all 0.2s ease-in-out;
} .loading-bar:hover {
    height: 50px;
    width: 90%;
}

.loaded {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    height: 100%;
    color: #0f0f0f;
    width: 6%;
    transition: all 0.2s ease-in-out;
    background-color: #ffa6e6;
}

@media screen and (max-width: 768px) {
    .loading-bar {
        height: 50px;
        width: 110%;
    } .loading-bar:hover {
        width: 110%;
    }

    .principal {
        width: 95%;
    }
}