.principal {
    background-color: var(--background-2);
    padding: 40px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    border: solid 0.7px var(--border);
    border-radius: 7px;
    box-shadow: var(--color) 0 0 5px 0;
    transition: all 0.2s ease-in-out;
}   .principal:hover {
        box-shadow: 0 0 10px 0;
}

.buttons {
    display: flex;
    flex-direction: row;
    margin: 8px;
}

#others {
    flex-direction: row;
}


@media screen and (max-width: 800px) {
    #others {
        flex-direction: column;
    }
}