.principal {
    background-color: var(--background-2);
    padding: 40px;
    width: 75%;
    overflow-y: auto;
    justify-content: center;
    border: solid 4px var(--border);
    border-radius: 7px;
    transition: all 0.2s ease-in-out;
}   .principal:hover {
        border-color: var(--border-hover);
        box-shadow: var(--color) 0 0 10px 0;
}

.repo-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.repo {
    background-color: var(--background-2);
    border: solid 4px var(--border);
    border-radius: 7px;
    min-height: 10em;
    width: 360px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    transition: all 0.2s ease-in-out;
}

.repo-container.blur-active .repo:not(.repo-hover) {
    filter: blur(2px);
    opacity: 0.5;
}

.repo-hover {
    filter: blur(0);
    scale: 1.05;
    border-color: var(--border-hover);
}

.buttons {
    display: flex;
    gap: 5px;
}

p {
    font-style: italic;
}

.error {
    animation: errorAnim 0.4s ease-in-out 1;
}

@media screen and (max-width: 768px) {
    .principal {
        width: 95%;
        flex-wrap: none;
    }

    .repo {
        width: 100%;
    }
}