.principal {
    background-color: #0f0f0f;
    padding: 40px;
    width: 75%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    border: solid 4px #3a3a3a;
    border-radius: 7px;
    transition: all 0.2s ease-in-out;
}   .principal:hover {
        border-color: #ffa6e6;
        box-shadow: #ffa6e6 0 0 10px 0;
}

.repo {
    background-color: #0f0f0f;
    border: solid 4px #3a3a3a;
    border-radius: 7px;
    min-height: 10em;
    width: 390px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    transition: all 0.2s ease-in-out;
}   .repo:hover {
        border-color: #ffa6e6;
}

.buttons {
    display: flex;
    gap: 5px;
}

p {
    font-style: italic;
}

.error {
    animation: errorAnim 0.4s ease-in-out 1;
}