.principal {
    background-color: var(--background-2);
    padding: 40px;
    width: 75%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    border: solid 4px var(--border);
    border-radius: 7px;
    transition: all 0.2s ease-in-out;
}   .principal:hover {
        border-color: var(--border-hover);
        box-shadow: var(--color) 0 0 10px 0;
}

a {
    width: 75%;
    min-height: 80px;
    transition: all .2s ease-in-out;
}

button {
    width: 100%;
    height: 100%;
    font-size: 2em;
}

@media screen and (max-width: 800px) {
    a {
        width: 100%;
    }
}